[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
graphite-paper = "*"
#django = "*"
#markdown = "*"
#jinja2 = "*"
#pyyaml = "*"
#numpy = "*"
#pandas = "*"
#graphite = {editable = true, path = "./../graphite"}
#sphinx = "*"
#sphinx-rtd-theme = "*"
#sphinx-panels = "*"

[requires]
python_version = "3.7"