// ==================================================
// Adaptaions for University of Surrey
// ==================================================

$surrey-blue: #007bff;
$surrey-purple: #6f42c1;
$surrey-red: #dc3545;
$surrey-green: #28a745;
$surrey-teal: #20c997;
$surrey-cyan: #17a2b8;
$surrey-gray: #868e96;
$surrey-gray-dark: #343a40;
$surrey-primary: #003e7e;
$surrey-alternate: #004682;
$surrey-alternate-lighter: #245e91;
$surrey-secondary: #868e96;
$surrey-success: #00674e;
$surrey-info: #90d3d0;
$surrey-warning: #867004;
$surrey-danger: #d11242;
$surrey-light: #f8f9fa;
$surrey-tundora: #4a4a4a;
$surrey-dark: #343a40;
$surrey-sky: #006fab;
$surrey-mustard: #867004;
$surrey-yellow: #f1cb00;
$surrey-dark-turquoise: #0092a0;
$surrey-turquoise: #90d3d0;
$surrey-orange: #f47a4c;
$surrey-leaf: #00674e;
$surrey-crimson: #d11242;
$surrey-siren: #780032;
$surrey-dark-sand: #c6a575;
$surrey-light-sand: #e3decf;
$surrey-desert-storm: #f4f4f2;
$surrey-light-gray: #fafafa;
$surrey-athens-gray: #f2f4f6;
$surrey-light-gray-orange: #e8e5e0;
$surrey-dark-gray-blue: #6a8d98;
$surrey-olive: #ccd8c1;
$surrey-dark-green: #3e5d60;
$surrey-stone-blue: #00606b;
$surrey-dark-olive: #3e6051;
$surrey-camouflage-green: #757e71;
$surrey-earth: #5c5757;
$surrey-tuscany: #b35932;
$surrey-light-brown: #c6aa7c;
$surrey-peach: #fbc7ad;
$surrey-pale-brown: #e3decf;
$surrey-light-olive: #ccd9c2;
$surrey-light-gray-blue: #d1e5e2;
$surrey-light-grayish-cyan: #f4f9f7;
$surrey-medium-gray: #d9d9d9;
$surrey-dark-gray: #333333;
$surrey-pale-gray: #e9e9e9;
$surrey-off-pink: #b2a8a8;
$surrey-light-sky: #3a7eb9;
$surrey-dark-blue: #016fac;
$surrey-cold-dark-blue: #2e5b92;
$surrey-light-blue: #097fbd;
$surrey-body-copy: #66665c;
$surrey-link: #1f78b1;
$surrey-pink: #fdf4f0;
$surrey-mystic: #e5ecf1;
$surrey-aqua: #daebeb;
$surrey-pale-yellow: #ffec70;
$surrey-green-marine: #008a85;
$surrey-dark-green-marine: #007b63;
$surrey-deep-cerulean: #0092a0;
$surrey-ocre: #c2a204;
$surrey-white: #fff;
$surrey-black: #000;
$surrey-hollywood-cerise: #df018e;
$surrey-indigo: #595dd4;
$surrey-fun-green: #00852a;
$surrey-cardinal: #ca1946;
$surrey-big-stone: #122637;
$surrey-dusty-gray: #979797;

$theme-colors: (
  primary: $surrey-primary,
  secondary: $surrey-primary,
  highlight: $surrey-warning
);

$header-image-position: bottom center;

// Fonts


// $font-family-sans-serif: "Proxima Nova", Helvetica, Arial, sans-serif !default;
$font-family-sans-serif: "proxima-nova", Helvetica, Arial, sans-serif !default;
$font-family-serif: "Cormorant Garamond", Georgia, Times, serif !default;

$font-size-base: 0.9rem;
$line-height-base: 1.6;

$font-size-article: $font-size-base + 0.4;
$font-weight-article: 400;

$headings-line-height: 1;
$headings-font-weight: 600;
$headings-color: theme-color("primary");
$headings-font-family: "proxima-nova", Helvetica, Arial, sans-serif !default;


$btn-font-weight: 500;
$border-radius: 0px !important;;

// Cards

$card-bg: rgba(#fff, 0.8);
$chapter-bg: rgba(#fff, 0.95);

