//
// Fixes/Adaptaions for SUM
// --------------------------------------------------


article figure{

    .ms-col-content{
        @extend .col-lg-9;
    }

    img{
        width: 100%;
    }
}

.list-of-participants {
    width: 100%;
    margin-top: 0;

    td {
        width: 50%;
    }

    li, ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
}
 
