// ==================================================
// Adaptaions for Manifesto
// ==================================================

// CONTENTS
// ==================================================
//
// Variables
// General classes
// Bootstrap Colums
// General Layout Definitions
// – BACKGROUND
// – Topline
// – Jumbotron
// – Tabs
// – Table of contents
// – Article Top
// – Article *//* Marginal notes
// – Footer
// Plugin Definitions
// - Plugin general
// - Full width plugin
// - Infobox
// - Slider
// - Figure
// - Video
// - Quote
// - Table
// - Authors

//
// Variables
// --------------------------------------------------

// Overwritten by seperate variables file

//
// General classes
// --------------------------------------------------

//
// Bootstrap Colums
// --------------------------------------------------

//
// General Layout Definitions
// --------------------------------------------------


/* BACKGROUND */

/* Topline */

/* Jumbotron */

/* Tabs */

/* Table of contents */

/* Article Top */

/* Article */

/* Marginal notes */

/* Footer */

//
// Plugin Definitions
// --------------------------------------------------

/* Plugin general */

/* Full width plugin */

/* Infobox */

/* Slider */

/* Figure */

/* Video */

/* Quote */
.ms-plugin-quote{

    border: none !important;

    .ms-col-content{

        p{
            font-family: $font-family-article !important;
            font-size: $font-size-article !important;
        }
    }
}

/* Table */

/* Authors */
